#background{
    height: 100%;
    width: 100%;

    background-color: black;

    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#currentNumbers{
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -2%);

    height: 10%;
    width: 96%;

    background-color: whitesmoke;
}

#textBox{
    position: relative;
    top: 50%;
    left: 1%;

    line-height: 0px;

    font-size: 6vh;
}

#buttonBox{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);

    height: 86%;
    width: 96%;
}

#mainbtnBox{
    position: absolute;

    height: 100%;
    width: 74%;
}

#operationBox{
    position: absolute;
    left: 75%;

    height: 100%;
    width: 25%;
}

#buttons{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
}

#mainButton{
    height: 21.5vh;
    width: 33%;

    font-size: 4rem;
    color: white;

    background-color: dimgray;
}

#operationButton{
    height: 14.33vh;
    width: 100%;

    font-size: 4rem;
    color: white;

    background-color: darkorange;
}
